body {
  height: 100vh;
  max-width: 100vw;
}
#calculator {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    /* grid-column-gap: 5px;
    grid-row-gap: 5px; */
    margin: 100px auto;
    height: 500px;
    width: 300px;
    /* border: 1px solid salmon; */
    background-color: bisque;
    outline: 5px solid skyblue;
}
#display {
  grid-area: 1 / 1 / 1 / 5;
}

.button {
  outline: 1px solid black;
}